@import url('reset.css');

header {
  background: green;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.header__logo {
  width: 80px;
  height: 80px;
}

.header__logo__box > a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-weight: 900;
  color: black;
  font-size: 25px;
}

.red_name {
  color: red;
}

.brown__name {
  color:rgb(165, 100, 54);
}

.header__burger {
  width: 50px;
  height: 25px;
	position: relative;
	cursor: pointer;
}

.header__burger::before {
  content: '';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			height: 3px;
			background: black;
}

.header__burger::after {
  content: '';
  position: absolute;
  top: auto;
	bottom: 0;
  left: 0;
	right: 0;
  height: 3px;
	background: black;
}

.header__burger span {
  content: '';
	position: absolute;
	left: 0;
	right: 0;
	height: 3px;
	background: black;
  top: 50%;
	transform: translateY(-50%);
} 

.header__nav {
  position: fixed;
	z-index: 101;
	top: -200%;
	right: 15px;
	background: yellowgreen;
	padding: 12px;
	transition: top .3s linear;
  border-radius: 8px;
}

.header__nav.active {
  top: 10px;
}

.header__nav__close {
  width: 26px;
	height: 26px;
	position: relative;
	margin: 0 0 20px auto;
	cursor: pointer;
}

.header__nav__close::before {
  content: '';
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	height: 2px;
	background: red;
	transform: rotate(45deg);
}

.header__nav__close::after {
  content: '';
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	height: 2px;
	background: red;
	transform: rotate(-45deg);
}


.header__list > li > a {
  text-decoration: none;
  color: black;
  font-size: 20px;
  text-transform: uppercase;
  font-family: sans-serif;
}

.header__list > li {
  padding: 20px 40px;
  text-align: center;
  border: 2px solid yellow;
  border-radius: 8px;
  margin-top: 15px;
}


/****************************   MAIN    ***************************************/
main{
    overflow: scroll;
    width: 80vw;
    max-width: 1200px;
    margin: auto;
    font-size: 1.5em;
    overflow: hidden;
}
main div{
    border: 2px solid #F3D34A;
    text-align: center;
    width: 80%;
    max-width: 700px;
    margin: auto;
    margin-bottom: 50vh;
    padding: 3em;
    box-shadow: 5px 10px 10px gray;
    border-radius: 10px;
    background-color: rgba(243, 211, 74, 0.2);
}


main img{
    width: 100%;
}
.description-text{
    padding: 20px 10px;
}


/*****************FOOTER***********************************/



footer {
    background-color: green;
    position: absolute;
    bottom:-50;
    
    width: 100%;
    

}
footer > ul > li {
    display:inline-block;
    vertical-align:middle;
    font-family: arial;
    font-size: 0.8em;
    

}
 
ul {
    width:100%;
    height:100%;
    
}
.logofooter{
    height: 5em;
    position:relative;
    
    
}

.authors{
    position:relative;
    
    left: 3em;
    
}
.plan{
    position:relative;
    
    left: 8em;
    
}
.authors span {
    color:white;
    font-weight: bold;
}

.button {
	border:none;
	background-color: red;
	padding: 1em;
	position:relative;
	left:23em;
	font-weight:bold;
	color: white;
	border-radius: 10px;
    font-family:verdana;
	
	
}